/* ITEM LIST */
.item-list {
    background-color: white;
    border: 2px solid $grey;
    width: 85%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darken($grey, 10%);
    }
}

.item-list--dsbj {
    width: 100%;
}

.item-list__header {
    display: flex;
    flex-direction: column;
    padding: $space;
}

.item-list__buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: $space;
}

.item-list__button--join {
    width: calc(100% - 4.1rem);
    margin: 0;
    margin-right: $input-spacing;
}

.item-list__button--create {
    width: 4.1rem;
    margin: 0;
}

/* ITEM */
.item {
    cursor: pointer;
    border-left: $item-select-border-width solid transparent;
    padding: $space $large-space;
    transition: background-color 0.2s ease, border-left-color 0.2s ease;
}

.item:hover {
    background-color: $light-grey;
    border-left: item-select-border-width solid $grey;
}

.item--selected,
.item--selected:hover {
    background-color: $light-grey;
    border-left: $item-select-border-width solid $brand-primary;
}

.item__title {
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: $space / 2;

    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item--selected .item__title {
    font-weight: bold;
}

.item__subtitle {
    font-size: calc(#{$base-font-size} * 0.9);
    color: $dark-grey;
    margin: 0;
}

/* EMPTY ITEM */
.empty-item {
    font-style: italic;
    text-align: center;
    padding: $space;
}
