* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darken($grey, 10%);
}

body {
    color: $body-default-color;
    background-color: $body-bg-color;
    font-family: $body-default-font;
    font-size: $base-font-size;
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h2 {
    font-size: $large-font-size;
    margin-bottom: $space;
}

p {
    margin-bottom: $space;
}

a {
    color: $body-default-color;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    border: 1px solid $input-border;
    color: $body-default-color;
    font-family: $body-default-font;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}

input::-webkit-input-placeholder {
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0.1;
}
