* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 55%;

    @include desktop() {
        font-size: 62.5%;
    }
}

body {
    color: $body-default-color;
    background-color: $body-bg-color;
    font-family: $body-default-font;
    font-size: $base-font-size;
    min-height: 10rem;
}

h1 {
    font-weight: 300;
    margin-bottom: $space;
}

h2 {
    font-size: $large-font-size;
    margin-bottom: $space;
}

p {
    margin-bottom: $space;
}

a {
    color: $body-default-color;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    border: 1px solid $input-border;
    color: $body-default-color;
    font-family: $body-default-font;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
}

textarea {
    resize: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    flex-grow: 1;
    -webkit-appearance: textfield;

    &:focus {
        outline: none;
        border-color: $brand-primary;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0.2;
    }

    &::-webkit-input-placeholder {
        transition: opacity 0.3s ease;
    }

    &:disabled {
        color: $dark-grey;
        background-color: darken($light-grey, 8%);
        font-style: italic;
    }
}

.ReactModal__Overlay {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
