/* COLORS */
$brand-primary: #397ab1;
$light-grey: #f9f9f9;
$grey: #dddddd;
$dark-grey: #777777;
$red: #f86569;
$dark-red: #f74d4d;

/* BODY */
$body-bg-color: #f3f3f3;
$body-default-color: #333333;
$body-default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* SPACING */
$space: 1.4rem;
$large-space: 2.7rem;
$site-max-width: 102rem;

/* FONT SIZES */
$base-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2rem;
$extra-large-font-size: 3rem;

/* FORM INPUTS */
$input-border: $grey;
$input-spacing: 1rem;

/* HEADER */
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;

/* TAB */
$tab-height: 6rem;

/* PAGE CONTENT */
$page-content-sidebar-width: 32rem;
$page-content-main-width: calc(
    #{$site-max-width} - #{$page-content-sidebar-width}
);
$page-content-sidebar-width-dsbj: 27.2rem;
$page-content-main-width-dsbj: calc(
    #{$site-max-width} - (#{$page-content-sidebar-width-dsbj})
);
$page-content-height-desktop: calc(100vh - #{$header-height} - #{$tab-height});
$page-content-height-mobile: calc(100vh - #{$header-height});

/* BUTTON */
$button-bg: $brand-primary;
$button-color: white;

$button-pill-border-color: $brand-primary;
$button-pill-color: $brand-primary;
$button-pill-padding: 0.4rem 0.9rem;

$button-greyed-bg: $light-grey;
$button-greyed-border-color: $grey;
$button-greyed-color: $dark-grey;

/* DROPDOWN */
$dropdown-border-color: $brand-primary;
$dropdown-active-bg-color: $brand-primary;
$dropdown-greyed-border-color: $grey;

/* SLIDER */
$switch-bg-color: darken($grey, 5%);
$switch-box-height: 34px;
$switch-box-width: 60px;
$switch-slider-height: 26px;
$switch-slider-width: 26px;
$slider-bg-color: $brand-primary;

/* ITEM */
$item-select-border-width: 4px;

/* SNACKBAR */
$snackbar-color: white;
$snackbar-bg-color: #333;

/* TAGS */
$tags-tag-border-radius: 1.4rem;
$tags-tag-bg-color: lighten($grey, 5%);

/* BOXED VIEW */
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;
