.boxed-view {
    align-items: center;
    background: $boxed-view-overlay-bg;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.boxed-view__box {
    background: $boxed-view-bg;
    border: 1px solid $boxed-view-border-color;
    padding: 2.4rem;
    text-align: center;
    width: 30rem;
    max-width: 98%;
    outline: none;
}

.boxed-view__box--l {
    width: 40rem;
    max-width: 98%;
}

.boxed-view__box--el {
    width: 50rem;
    max-width: 98%;
}

.boxed-view__form {
    display: flex;
    flex-direction: column;
}

.boxed-view__form--row {
    display: flex;
    flex-direction: row;
}

.boxed-view__modal {
    background: fade-out($color: $boxed-view-overlay-bg, $amount: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.boxed-view__modal-title {
    margin-left: $space;
    margin-right: $space;
}
