.button {
    background-color: $button-bg;
    border: 0.5px solid $button-bg;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}

.button:active {
    transform: scale(0.98);
}

.button--tag {
    margin-bottom: 0;
    margin-left: $space;
}

.button--title {
    background: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: underline;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-border-color;
    color: $button-pill-color;
    margin: 0 ($space / 2) 0 0;
    padding: $button-pill-padding;
}

/* GREYED */
.button--greyed {
    outline: none;
    background-color: $button-greyed-bg;
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

.button--greyed:active {
    background-color: darken($button-greyed-bg, 2%);
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

/* DELETE */
.button--delete {
    background-color: $red;
    border: 1px solid $dark-red;
    color: white;
    outline: none;
}

.button--confirm-delete,
.button--delete:hover {
    background-color: $red;
    border: 1px solid $dark-red;
    color: white;
}

.button--delete:active {
    background-color: $dark-red;
    border: 1px solid $dark-red;
    color: white;
}

/* SIDE BY SIDE */
.button__side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: $space;

    button:first-of-type {
        margin: 0;
        margin-right: $input-spacing;
    }

    button:nth-of-type(2) {
        margin: 0;
    }

    button {
        flex: 1;
    }
}

.button__side-by-side--uneven {
    margin-top: 0.3rem;

    button:first-of-type {
        max-width: 30%;
    }
}

/* SELECT-BAR BUTTON */
.button--room-bar {
    font-size: $base-font-size;
    color: $body-default-color;
    display: inline-block;
    background: white;
    outline: none;
    border: 2px solid $grey;
    padding: $input-spacing;
    margin-left: 0.65rem;

    &:hover {
        cursor: pointer;
        border-color: lighten($brand-primary, 35%);
    }

    &:active {
        background: $light-grey;
        border: 2px solid $brand-primary;
        transform: scale(0.98);
    }

    &:focus {
        border: 2px solid $grey;
        animation: none;
    }

    &:disabled {
        cursor: not-allowed;
        animation: none;
        border: 2px solid $grey;
        background: lighten($grey, 3%);
    }
}

.button--room-bar-selected {
    border: 2px solid $brand-primary;
    animation: none;

    &:hover {
        cursor: default;
        border: 2px solid $brand-primary;
        animation: none;
    }

    &:active {
        background: white;
        transform: none;
    }

    &:focus {
        border: 2px solid $brand-primary;
        animation: none;
    }

    &:disabled {
        cursor: not-allowed;
        animation: none;
        border: 2px solid $grey;
        background: lighten($grey, 3%);
    }
}

/* WRAPPER */
.button__wrapper {
    display: flex;
    float: right;
}
