.button {
    background-color: $button-bg;
    border: 0.5px solid $button-bg;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}

.button--tag {
    margin-bottom: 0;
    margin-left: $space;
}

.button--title {
    background: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: underline;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-border-color;
    color: $button-pill-color;
    margin: 0 ($space / 2) 0 0;
    padding: $button-pill-padding;
}

/* GREYED */
.button--greyed {
    outline: none;
    background-color: $button-greyed-bg;
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

.button--greyed:active {
    background-color: darken($button-greyed-bg, 2%);
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

/* DELETE */
.button--delete {
    outline: none;
}

.button--confirm-delete,
.button--delete:hover {
    background-color: $red;
    border: 1px solid $dark-red;
    color: white;
}

.button--delete:active {
    background-color: $dark-red;
    border: 1px solid $dark-red;
    color: white;
}

/* SIDE BY SIDE */
.button__side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button:first-of-type {
        margin-left: $large-space;
        margin-right: $space;
    }

    button:nth-of-type(2) {
        margin-left: $space;
        margin-right: $large-space;
    }

    button {
        flex: 1;
    }
}

/* SIDEBAR BUTTON */
.button--sidebar {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    font-size: $base-font-size;
    color: $body-default-color;
    display: inline-block;
    background: white;
    border: 2px solid $grey;
    padding: $input-spacing;
    margin-left: 0.65rem;
}

.button--sidebar:hover {
    cursor: pointer;
    border: 2px solid $brand-primary;
}

.button--sidebar:active {
    background: $light-grey;
    transform: scale(0.99);
}

.button--sidebar:disabled {
    cursor: not-allowed;
    border: 2px solid $grey;
    background: lighten($grey, 3%);
}
