.members__title {
    margin-bottom: $input-spacing;
}

.members__subtitle {
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.members__wrapper {
    max-height: 50vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darken($grey, 10%);
    }
}

.members__list {
    padding: $input-spacing;
    border: 1px solid $brand-primary;
}

.members__list--mod {
    margin-bottom: $input-spacing;
}

.members__list--owner {
    margin-bottom: $input-spacing;
}

.member {
    font-size: $small-font-size;
    display: flex;
    flex-direction: row;
}

.member__name {
    padding: 0.5rem;
    margin-right: 1rem;
    width: 36%;
    text-align: left;
}

.member__id {
    padding: 0.5rem;
    width: 50%;
    text-align: left;
}

.member__options {
    padding: 0.5rem;
    width: 14%;
}

.member__options--cross {
    cursor: pointer;
    margin-left: 1rem;
    margin-bottom: 0.1rem;
    width: 0.8rem;
    height: 0.8rem;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1);
    }
}

.member__options--arrow {
    cursor: pointer;
    margin-left: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1);
    }
}

.member__options--arrow-down {
    transform: rotate(180deg);

    &:hover {
        transform: rotate(180deg) scale(1.2);
    }

    &:active {
        transform: rotate(180deg) scale(1);
    }
}

.member__options--arrow-none {
    opacity: 0;
    cursor: default;
}

.empty-members {
    color: $dark-grey;
    background-color: $tags-tag-bg-color;
    border-radius: 0.8rem;
    font-style: italic;
    text-align: center;
    padding: $space;
}
