.message-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 590rem;
    max-height: 59rem;
    padding-right: calc(#{$input-spacing} + #{$double-space});

    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darken($grey, 10%);
    }
}

.message {
    padding: $space $input-spacing;
    padding-right: $double-space;
    border-bottom: 1px solid $grey;
}
