.chat-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $space 0;
    background-color: white;
    border: 2px solid $grey;
    box-sizing: border-box;

    @include desktop() {
        padding: $large-space 0;
    }
}

/* HEADER */
.chat-area__header {
    display: flex;
    flex-direction: row;
    font-size: $base-font-size;
    justify-content: space-between;
    border-bottom: 3px solid $brand-primary;
    padding-bottom: $input-spacing;
    margin: 0 $input-spacing;
    overflow: visible;

    @include desktop() {
        margin: 0 $large-space;
    }
}

.chat-area__header-title {
    margin: 0;
    margin-left: $input-spacing;
    width: 70%;
    height: 4rem;

    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-area__header-dots {
    margin: 0;
    margin-right: $input-spacing;
    width: 30%;
    overflow: visible;
}

/* BODY */
.chat-area__body {
    height: 100%;
    margin-left: $space;

    @include desktop() {
        margin-left: calc(#{$large-space} + 0.2rem);
    }
}

.chat-area__body--not-joined {
    padding: $space;
    margin-right: $space;

    @include desktop() {
        margin-right: calc(#{$large-space} + 0.2rem);
    }
}

.chat-area__body-desc {
    font-weight: normal;
}

.chat-area__body-tags {
    margin: $space 0;
    margin-left: -0.4rem;
}

/* FOOTER */
.chat-area__footer {
    border-top: 2px solid $brand-primary;
    padding-top: $input-spacing;
    margin: 0 $input-spacing;
    overflow: visible;

    @include desktop() {
        margin: 0 $large-space;
    }
}

.chat-area__footer-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chat-area__footer-form input[type="text"] {
    margin: 0;
}

.chat-area__input-error {
    background: #ff6666;
    color: white;
    margin-left: $input-spacing;
    padding: $input-spacing;
}

/* EMPTY */
.empty-chat-area {
    color: $dark-grey;
    background-color: $tags-tag-bg-color;
    border-radius: 0.8rem;
    font-style: italic;
    text-align: center;
    padding: $space;
    margin: 0 $space;

    @include desktop() {
        margin: 0 $large-space;
    }
}
