.message-list {
    height: 100%;
    padding-right: calc(#{$large-space} + #{$input-spacing});
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: darken($grey, 10%);
    }
}

.message {
    padding: $space $input-spacing;
    border-bottom: 1px solid $grey;
}

.message__header {
    margin-bottom: $input-spacing / 2;
}

.message__header-username {
    font-size: calc(#{$base-font-size} + 0.1rem);
}

.message__header-time {
    font-size: $small-font-size;
    color: lighten($dark-grey, 10%);
}

.message__body {
    display: flex;
    flex-direction: row;
    font-size: calc(#{$base-font-size} - 0.1rem);
    color: darken($dark-grey, 10%);
}

.message__body:hover .message__body-option {
    visibility: visible;
}

.message__body-content {
    margin-right: $space;
    flex: 1;

    word-wrap: break-word; /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; /* current browsers */
}

.message__body-option {
    float: right;
    visibility: hidden;
    padding: 0 $space;
}

/* EMPTY */
.empty-message-list {
    color: $dark-grey;
    font-style: italic;
    padding: $large-space $space;
}
